[Unit]
Description=Seafile
After=network.target

[Service]
Type=forking
ExecStart={{ root_dir }}/seafile-server-latest/seafile.sh start
ExecStop={{ root_dir }}/seafile-server-latest/seafile.sh stop
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
